@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, #1A2980, #26D0CE);
}

header h1{
    color: white;
    font-size: 2.2em;
    text-align: center;
    margin-top: 50px;
}

section#container{
    background-color: #fff;
    width: 500px;
    min-height: 250px;
    margin: 50px auto;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

section div{
    margin-bottom: 10px;
}

#btn-add, #btn-fim{
    width: 80px;
    padding: 3px;
    border: none;
    border-radius: 5px;
    background-color: #99cac9;
    color: #fff;
    font-weight: 100;
    cursor: pointer;
}

#btn-fim{
    margin: 10px 0px;
}

input{
    padding-left: 4px;
}

select#flista{
    width: 350px; 
}


footer{
    margin-top: -20px;
    text-align: center;
}

footer a{
    color: white;
    font-size: 1.1em;
    text-decoration: none;
    font-style: italic;
}